/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
  font-variation-settings: var(--main-font-weight);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  background-position: fixed;
  background-size: cover;
}

.header {
  margin-block-start: 102px;
  margin-block-end: 100px;
  border: 2px solid var(--main-color);
  background: var(--bg-color);
}

.header__logo-group {
  padding-inline: var(--header-padding);
  padding-block: var(--header-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--main-gap);
  font-family: var(--accent-font-family);
  text-transform: uppercase;
}

.html {
  font-size: var(--header-font-size-html);
}

.tag {
  font-size: var(--header-font-size-tag);
}

.card__title {
  border-bottom: var(--main-color) solid 2px;
  padding: 5px 10px;
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font-size);
}

.card__picture {
  background-image: var(--card-picture);
  background-position: right;
  background-size: cover;
  inline-size: 100%;
  block-size: 696px;
}

.start {
  filter: opacity(0.8);
}

.clean {
  filter: contrast(1.2);
}

.no-way {
  filter: saturate(2);
}

.chase {
  filter: hue-rotate(180deg);
}

.nearby {
  filter: hue-rotate(270deg) brightness(1.5);
}

.workarounds {
  filter: grayscale(0.5);
}

.hands-go-down {
  filter: blur(2px);
}

.iam-here {
  filter: contrast(0.5) grayscale(0.5);
}

.card__content {
  display: flex;
  flex-direction: column;
}

.card__content-text {
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.card__content-text-block {
  padding: 25px;
  border-top: var(--main-color) solid 2px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-block-end: 25px;
}

.main__card {
  margin-block-end: 54px;
  position: relative;
  inline-size: 696px;
  border: 2px solid var(--main-color);
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

.watermark {
  right: 25px;
  top: 60px;
  content: "";
  position: absolute;
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-stroke-color);
  opacity: 0.5;
  z-index: 1;
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--text-stroke-color)) {
  .watermark {
    -webkit-text-stroke: 2px var(--text-stroke-color);
    text-stroke: 2px var(--text-stroke-color);
  }
}

.lowercase {
  text-transform: lowercase;
}

.button__text {
  color: var(--bg-color);
  position: relative;
  z-index: 1;
  text-align: center;
  mix-blend-mode: difference;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-101%);
}

.button:hover::after {
  transform: translateX(0);
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border);
  overflow: hidden;
  color: var(--bg-color);
  font-family: var(--accent-font-family);
  font-size: var(--secondary-font-size);
  line-height: 90%;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease, color 0.5s ease-in-out;
  cursor: pointer;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--main-color);
}

.like-icon {
  block-size: 38px;
  transform-origin: center center;
}

.card__icon-button {
  background-color: transparent;
  cursor: pointer;
  border: 2px transparent solid;
  block-size: 38px;
  padding: 0;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: none;
  border: var(--border);
  transition: border 0.3s ease;
}

.card__like-button {
  border: var(--border);
  padding: 0;
  min-block-size: 38px;
  min-inline-size: 130px;
  text-transform: capitalize;
}

.card__button-main {
  display: flex;
  justify-content: flex-end;
  border: none;
  outline: none;
  padding-inline-end: 25px;
  padding-block-end: 25px;
  gap: 12px;
}

body:has(dialog[open]) {
  overflow: hidden;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.save {
  display: flex;
  gap: var(--main-gap);
}

#save-memory {
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-transform: uppercase;
  padding: 30px;
}

.save__memory-button {
  position: relative;
  z-index: 1;
  line-height: 90%;
  display: flex;
  padding: 12px 132px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color);
  cursor: pointer;
}

.button__memory {
  font-size: 14px;
  line-height: 150%;
  display: flex;
  padding-block: 15px;
  justify-content: center;
  align-items: center;
  gap: var(--main-gap);
  border: var(--border);
  margin-block-end: 105px;
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--main-color);
}

.floppy__icon {
  width: 21px;
}

.button:hover .floppy__icon {
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
  fill: var(--bg-color);
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .like-icon .core {
  fill: var(--fill-heart-contour);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .like-icon .main-body {
  fill: var(--fill-heart-contour);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .like-icon .core {
  fill: var(--fill-main-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .like-icon .main-body {
  fill: var(--fill-main-color);
  transition: fill 0.3s linear 0.05s;
}

.floppy__icon-big {
  width: 39px;
}

.countour {
  fill: var(--fill-heart-contour);
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .like-icon.is-liked .core {
  fill: var(--fill-main-color);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .like-icon.is-liked .main-body {
  fill: var(--fill-main-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--fill-main-color);

  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-main-color);

  transition: fill 0.3s linear 0.03s;
}

.like-icon.is-liked .countour {
  fill: var(--fill-main-color);

  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;

  animation: heart-scale 0.3s ease-in 0.1s 1 forwards;
}

.like-icon.is-liked .sparks {
  animation: sparks-flicker 0.3s ease-in 0.3s 1 forwards;
}

@media (width <= 375px) {
  .page {
    max-width: 375px;
  }

  .header {
    inline-size: 100%;
  }

  .header__logo-group {
    padding-inline: 0;
  }

  .card__picture {
    block-size: 371px;
  }

  .main__card {
    inline-size: 100%;
  }

  .card__icon-button {
    --main-gap: 8px;
    flex-direction: column;
    padding: 15px 20px;
    gap: var(--main-gap);
    line-height: 90%;
  }

  .floppy__icon {
    inline-size: 28px;
  }
}
