/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
  font-variation-settings: var(--main-font-weight);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  background-position: fixed;
  background-size: cover;
}

.header {
  margin-block-start: 102px;
  margin-block-end: 100px;
  border: 2px solid var(--Themes-mainColor, #000);
  background: var(--Themes-background, #fff);
}

.header__logo-group {
  padding-inline: var(--header-padding);
  padding-block: var(--header-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: var(--accent-font-family);
  text-transform: uppercase;
}

.html {
  font-size: var(--header-font-size-html);
}

.tag {
  font-size: var(--header-font-size-tag);
}

.card__title {
  border-bottom: #000 solid 2px;
  padding: 5px 10px;
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font-size);
}

.card__picture {
  background-image: var(--card-picture);
  background-position: right;
  background-size: cover;
  inline-size: 100%;
  block-size: 696px;
}

.start {
  filter: opacity(0.8);
}

.clean {
  filter: contrast(1.2);
}

.no-way {
  filter: saturate(2);
}

.chase {
  filter: hue-rotate(180deg);
}

.nearby {
  filter: hue-rotate(270deg) brightness(1.5);
}

.workarounds {
  filter: grayscale(0.5);
}

.hands-go-down {
  filter: blur(2px);
}

.iam-here {
  filter: contrast(0.5) grayscale(0.5);
}

.card__content {
  display: flex;
  flex-direction: column;
}

.card__content-text {
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.card__content-text-block {
  padding: 25px;
  border-top: #000 solid 2px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-block-end: 25px;
}

.main__card {
  margin-block-end: 54px;
  position: relative;
  inline-size: 696px;
  border: 2px solid var(--Themes-mainColor, #000);
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.watermark {
  right: 25px;
  top: 60px;
  content: "";
  position: absolute;
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--Themes-mainColor, #000);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-stroke-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px black) {
  .watermark {
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
  }
}

.lowercase {
  text-transform: lowercase;
}

.card__like-button {
  --main-font-size: 14px;
  font-size: var(--main-font-size);
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-inline-end: 25px;
  padding-block-end: 25px;
}

svg {
  background-color: #fff;
}

.button__text {
  font-family: var(--accent-font-family);
  border: 2px solid var(--Themes-mainColor, #000);
  background-color: #fff;
  display: flex;
  width: 130px;
  height: 38px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 1;
}

.button__memory {
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 150%;
  display: flex;
  padding-block: 15px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--Themes-mainColor, #000);
  margin-block-end: 105px;
}

button {
  z-index: 1;
  position: relative;
}

button:focus {
  border: none;
  box-shadow: 2px 2px 0px 0px #000;
}

button::before {
  content: "";
  display: block;
  width: 100%;
  height: 50px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
  position: absolute;
}

button:hover::before {
  transform: scaleX(1);
}

body:has(dialog[open]) {
  overflow: hidden;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.save {
  display: flex;
  gap: 20px;
}

#save-memory {
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-transform: uppercase;
  padding: 30px;
}

.save__memory-button {
  line-height: 90%;
  display: flex;
  padding: 12px 132px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--Themes-mainColor, #000);
}

.floppy__icon {
  width: 21px;
}

.floppy__icon-big {
  width: 39px;
}

@media (width <= 375px) {
  .page {
    max-width: 375px;
  }

  .header {
    inline-size: 100%;
  }

  .header__logo-group {
    padding-inline: 0;
  }

  .card__picture {
    block-size: 371px;
  }

  .main__card {
    inline-size: 100%;
  }

  .button__memory {
    flex-direction: column;
    padding: 15px 20px;
    gap: 8px;
    line-height: 90%;
  }

  .floppy__icon {
    inline-size: 28px;
  }
}
