/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family, sans-serif);
  font-variation-settings: "wght" var(--main-font-weight);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  margin-block: 100px;
  border: var(--border);
  background: var(--bg-color);
  padding-block: var(--header-padding-block);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--main-gap);
  font-family: var(--accent-font-family), monospace;
  text-transform: uppercase;
}

.header__title {
  font-size: var(--header-font-size-html);
}

.header__subtitle {
  font-size: var(--header-font-size-tag);
}

.page__inline-size {
  inline-size: var(--page-inline-size);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__title {
  border-bottom: var(--border);
  padding: 5px 10px;
  font-variation-settings: "wght" 700;
  font-size: var(--main-font-size);
}

.card__content-image {
  position: relative;
  inline-size: 100%;
  margin: 0;
  block-size: 696px;
}

.card__picture {
  inline-size: 100%;
  object-fit: cover;
  object-position: right;
  block-size: 100%;
}

.filter-opacity {
  filter: opacity(0.8);
}

.filter-contrast {
  filter: contrast(1.2);
}

.filter-saturate {
  filter: saturate(2);
}

.filter-chase {
  filter: hue-rotate(180deg);
}

.filter-multiple-hue {
  filter: hue-rotate(270deg) brightness(1.5);
}

.filet-grayscale {
  filter: grayscale(0.5);
}

.filter-blur {
  filter: blur(2px);
}

.filter-multiple-contrast {
  filter: contrast(0.5) grayscale(0.5);
}

.card__content {
  display: flex;
  flex-direction: column;
}

.card__content-text {
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.card__content-text-block {
  padding: 25px;
  border-top: var(--main-color) solid 2px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.main__card {
  position: relative;
  border: var(--border);
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

.watermark {
  top: 24px;
  right: clamp(0.75rem, 0.4639rem + 1.2207vw, 1.5625rem);
  content: "";
  position: absolute;
  font-family: var(--accent-font-family), monospace;
  font-size: var(--accent-font-size);
  text-transform: uppercase;
  color: var(--main-color);
  text-shadow: -1px -1px var(--text-stroke-color),
    1px -1px var(--text-stroke-color), -1px 1px var(--text-stroke-color),
    1px 1px var(--text-stroke-color);
  opacity: 0.5;
  z-index: 1;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: var(--text-stroke-color)) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.lowercase__watermark {
  text-transform: lowercase;
}

.button__text {
  color: var(--bg-color);
  position: relative;
  z-index: 1;
  text-align: center;
  mix-blend-mode: difference;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-101%);
}

.button:hover::after {
  transform: translateX(0);
}

.button,
.save__memory-button,
.button__memory {
  font-family: var(--accent-font-family), monospace;
  font-size: var(--accent-font-size);
  line-height: 90%;
  cursor: pointer;
  border: var(--border);
  background-color: var(--bg-color);
  color: var(--bg-color);
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s ease, color 0.5s ease-in-out;
  position: relative;
}

.button {
  justify-content: center;
  overflow: hidden;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--main-color);
}

.like-icon {
  transform-origin: center;
}

.card__icon-button {
  background-color: transparent;
  cursor: pointer;
  border: 2px transparent solid;
  block-size: 38px;
  padding: 0;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: none;
  border: var(--border);
  transition: border 0.3s ease;
}

.card__like-button {
  inline-size: 130px;
}

.card__button-main {
  display: flex;
  justify-content: flex-end;
  border: none;
  outline: none;
  padding-inline-end: 25px;
  padding-block-end: 25px;
  gap: 5px;
}

.page:has(dialog[open]) {
  overflow: hidden;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-block-end: 30px;
}

.dialog__main {
  font-family: var(--accent-font-family), monospace;
  font-size: var(--accent-font-size);
  line-height: 150%;
  text-transform: uppercase;
  padding: 30px;
}

.save__memory-button {
  z-index: 1;
  padding: 12px 132px;
  justify-content: center;
  text-transform: uppercase;
}

.button__memory {
  justify-content: center;
  gap: 8px;
  inline-size: var(--footer-inline-size);
  padding-block: 14px;
  margin-block-end: 100px;
  color: var(--main-color);
  align-self: center;
}

.floppy__icon {
  height: 21px;
  width: 21px;
}

.button:hover .floppy__icon {
  z-index: 1;
  color: var(--bg-color);
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .like-icon .core {
  fill: var(--fill-heart-contour);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .like-icon .main-body {
  fill: var(--fill-heart-contour);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .like-icon .core {
  fill: var(--fill-main-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .like-icon .main-body {
  fill: var(--fill-main-color);
  transition: fill 0.3s linear 0.05s;
}

.floppy__icon-big {
  width: 39px;
  height: 39px;
}

.contour {
  fill: var(--fill-heart-contour);
  transition: fill 0.3s linear 0.1s;
}

.sparks {
  opacity: 0;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .like-icon.is-liked .core {
  fill: var(--fill-main-color);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .like-icon.is-liked .main-body {
  fill: var(--fill-main-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--fill-main-color);

  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-main-color);

  transition: fill 0.3s linear 0.03s;
}

.like-icon.is-liked .contour {
  fill: var(--fill-main-color);

  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;

  animation: heart-scale 0.3s ease-in 0.1s 1 forwards;
}

.like-icon.is-liked .sparks {
  animation: sparks-flicker 0.3s ease-in 0.3s 1 forwards;
}

@media (width <= 375px) {
  .page {
    max-width: 375px;
  }

  .header {
    inline-size: 100%;
  }

  .main {
    inline-size: 100%;
  }

  .header__logo-group {
    padding-inline: 0;
  }

  .card__content-image {
    block-size: 370px;
  }

  .main__card {
    inline-size: 100%;
  }

  .card__icon-button {
    line-height: 90%;
  }

  .floppy__icon {
    width: 28px;
    height: 28px;
  }

  .button__memory {
    flex-direction: column;
    margin-block-end: 80px;
    padding-block: 15px;
    gap: 8px;
  }
}
